*.sif
*.ipynb_checkpoints
*.json
*.log 
*.RData

association_studies/scripts/production_scripts/slurm_files/
australian_army_bishop.code-workspace
hrc_panel_versions/
admixture_versions/
evalAdmix_versions/
/.vscode/
/association_studies/results/
/association_studies/data/
/association_studies/literature/
/quality_control/data
/quality_control/literature
/plink_versions
/eigensoft_versions
/ldak_versions
